<div class="d-flex flex-column parent z-3 position-fixed">
  <ul
    class="nav nav-pills nav-flush d-flex flex-column align-items-center text-center h-100"
  >
    <!-- Top Icon -->
    <li class="nav-item mt-3">
      <a
        href="#"
        class="nav-link py-3"
        aria-current="page"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <i class="fas fa-burn fs-3"></i>
      </a>
    </li>

    <!-- Center Icons -->
    <div
      class="d-flex flex-column align-items-center flex-grow-1 justify-content-center mt-3"
    >
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Dashboard"
        >
          <i class="fas fa-tachometer-alt fs-5"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Analytics"
        >
          <i class="fas fa-list fs-5"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Orders"
        >
          <i class="fas fa-layer-group fs-5"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Products"
        >
          <i class="fas fa-cog fs-5"></i>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-original-title="Notifications"
        >
          <i class="fas fa-bell fs-5"></i>
        </a>
      </li>
    </div>

    <!-- Bottom Icon -->
    <li class="nav-item mb-3">
      <a
        href="#"
        class="nav-link py-3"
        title=""
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Logout"
      >
        <i class="fas fa-sign-out-alt fs-5"></i>
      </a>
    </li>
  </ul>
</div>
